{% extends "base.html" %}

{% block static-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock static-files %}

{% block message %}
    {% if message and message.strip %}
        <div class="p-3 mb-2 {{ message_type }} text-white" style='text-align: center'>{{ message }}</div>
    {% endif %}
{% endblock message %}

{% block content %}
<form class="form-signin" method="POST">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name="username" type="text" class="form-control" placeholder="Username..." required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password..." required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p style='padding-top: 2%'>Don't have an account? Register <a href='{% url "register" %}'>here</a>.</p>
</form>
{% endblock content %}
