
{% block content %}
    <div class="modal" id="success" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Added to cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>product added to cart</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="failed" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Failed to add to cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Failed to add the product on cart</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}


{% block scripts %}
    <script>
      function add_product(id){
            $.ajax({
                type: "POST",
                url : "/add_shopping_cart/" + id,
                contentType: 'application/json; charset=utf-8',
                datatype: "json",
                success: function(data, status, xhr){
                    $( "#success" ).modal()
                },
                error: function(data, status, xhr){
                    $( "#failed" ).modal()
                },
            });
        };
    </script>
{% endblock scripts %}
