.form-search{
    padding: 15px;
    max-width: 400Px;
    margin: 0 auto;
}

.form-sort{
    padding: 15px;
    max-width: 400Px;
    margin: 0 auto;
}

.pagination{
    padding: 15px;
    margin: 0 auto;
}
